<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create new post</h1>
  <div class="form-control">
    <label for="title"> Post's title</label>
    <div>
      <input
        formControlName="title"
        id="title"
        type="text"
        placeholder="Title"
      />
      <div
        class="error"
        *ngIf="form.get('title')?.touched && form.get('title')?.invalid"
      >
        <small *ngIf="form.controls['title'].errors?.['required']"
          >enter title</small
        >
      </div>
    </div>
  </div>

  <div class="form-control">
    <label for="author"> Post's author</label>

    <div>
      <input
        formControlName="author"
        id="author"
        type="author"
        placeholder="Author"
      />
      <div
        class="error"
        *ngIf="form.get('author')?.touched && form.get('author')?.invalid"
      >
        <small *ngIf="form.controls['author'].errors?.['required']"
          >enter author</small
        >
      </div>
    </div>
  </div>

  <!-- need to insert any html edit box -->
  <div class="form-control">
    <label for="text"> Post's content</label>
    <div>
      <quill-editor formControlName="text"></quill-editor>
      <!-- <input formControlName="text" id="text" type="text" /> -->

      <div
        class="error"
        *ngIf="form.get('text')?.touched && form.get('text')?.invalid"
      >
        <small *ngIf="form.controls['text'].errors?.['required']"
          >enter text</small
        >
      </div>
    </div>
  </div>

  <!-- need to insert any html edit box for replace input text -->

  <button type="submit" [disabled]="form.invalid">Create post</button>
</form>
