<div *ngIf="posts.length; else loading">
  <div class="form-control"></div>
  <input type="text" placeholder="Find title" [(ngModel)]="searchString" />
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Author</th>
        <th>Title</th>
        <th>Data</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let post of posts | searchPosts : searchString; let id = index"
      >
        <td>{{ id + 1 }}</td>
        <td>{{ post.author }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.date | date : "medium" : "" : "ru" }}</td>
        <td>
          <button [routerLink]="['/admin', 'post', post.id, 'editpost']">
            Edit
          </button>
          <button (click)="RemovePost(post.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading> loading ... </ng-template>
