.login-card{
    max-width: 600px;
    border: 1px solid gray;
    margin:  0 auto;
    padding: 5px;
}
.error {
    color: crimson;
}

.form-control {
    margin: 20px 0px;
}

.alert {
    color: red;
}