.post {
    
    border-radius: 1em;
    margin: 10px 5px;
    padding: 10px;
    background-color:#EEEEEE ;
}

.post-header {
    display: flex;
    justify-content: space-between;
}
.post-name {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
